<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>Of Operator with: <strong>'Jhon','James','Herry'</strong></p>
            <ul id="ofOperator"></ul>
        </div>
        <div class="col-md-4">
            <p>Of Operator with: <strong>[1,2,3,4,5]</strong></p>
            <ul id="arrElem"></ul>
        </div>
        <div class="col-md-4">
            <p>Of Operator with: <strong>&#123;'a':'Ram','b':'Geeta','c':'Sita'&#125;</strong></p>
            <ul id="objEleme">
                <li>{{objElem.a}}</li>
                <li>{{objElem.b}}</li>
                <li>{{objElem.c}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-4">
            <p>Using Array</p>
            <ul id="fromOpe"></ul>
        </div>
        <div class="col-md-4">
            <p>Using String</p>
            <ul id="fromTwo"></ul>
        </div>
        <div class="col-md-4">
            <p>Using Promise</p>
            <ul id="promiseElem"></ul>
        </div>
    </div>
</div>
