<ul>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./fromEvent">from-event</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./interval">Interval</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./oforfrom">Of/From</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./toarray">toArray</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./custom">Custom Observable</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./mapping">Map</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./tap">Tap</a></span></li>
    <li><span class="badge text-bg-primary py-3 px-3"><a routerLink="./">Custom Observable</a></span></li>
</ul>

